body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: teal;
  margin-top: 25%;
}

button {
  width: 4em;
  height: 4em;
  background-color: beige;
  border: 2px solid burlywood;
  border-radius: 4px;
  margin: 0.1em;
}
.clear {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c {
  padding-right: 6em;
  padding-left: 6em;
}
.equals {
  padding-left: 4em;
  padding-right: 4em;
  text-align: center;
}
.equals button {
  text-align: center;
  justify-content: center;
  align-self: center;
}
.btns {
  display: flex;
}

.oper-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.row-0 {
  display: flex;
}

#calculator-display {
  background-color: lightgreen;
  border: 1px solid darkolivegreen;
  border-radius: 4px;
  width: 13.5em;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#display-text {
  width: 100%;
  background-color: transparent;
  margin: 0;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  box-sizing: border-box;
  outline: none;
}

#calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 20px;
  border: 2px solid silver;
  border-radius: 4px;
}
